<div class="product-order card d-inline-block mr-1">
    <img class="card-img embed-responsive product-image" src="{{ productOrder.product.image }}">
    <div class="card-img-overlay p-0">
        <div>
            <div class="badge-container">
                <div class="text-center product-badge badge badge-primary quantity">{{ productOrder.quantity }}</div>
            </div>
            <div class="badge-container">
                <div class="product-badge badge badge-success">{{ productOrder.product.name }}</div>
            </div>
        </div>
    </div>
</div>