.equal {
    font-size: 30px;
    vertical-align: middle;
}

.total {
    font-size: 30px;
    width: 100%;
    background-color: #55aaff;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
}