.current-order {
    position: fixed;
    bottom: -100%;
    -webkit-transition: bottom 0.5s;
    -moz-transition: bottom 0.5s;
    -ms-transition: bottom 0.5s;
    -o-transition: bottom 0.5s;
    transition: bottom 0.5s;
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
}

.current-order.shown {
    bottom: 0;
}

.current-order > .title {
    vertical-align: middle;
}