<div class="product">
    <div class="card">
        <img class="card-img product-image" src="{{ product.image }}">
        <div class="card-img-overlay">
            <div>
                <span class="product-badge badge badge-success">{{ product.name }}</span><br>
                <span class="product-badge badge badge-info">{{ product.price }} €</span>
            </div>
            <div class="bottom">
                <ssb-moreless class="row" (increment)="increment()" (decrement)="decrement()"></ssb-moreless>
            </div>
        </div>
    </div>
</div>